.cabecalho {
    background-color: var(--verde-claro);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}

.logo {}

.navegacao {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.direcionamento {
    text-decoration: none;
    list-style-type: none;
    font-size: 2rem;
    font-weight: 600;
}


.banner {
    background: #d3eeae;
    background: radial-gradient(circle, rgba(211, 238, 174, 1) 0%, rgba(147, 204, 143, 1) 100%);
    position: relative;
}

.absoluteTeste {
    background: #28659e;
    background: radial-gradient(circle, rgba(40, 101, 158, 1) 65%, rgba(50, 72, 217, 1) 100%);
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.fundo-campo {
    width: 19%;
}

.textoBemvindo {
    position: absolute;
    width: 55%;
    height: 70%;
    top: 15%;
    left: 22%;
    border-radius: 30px;
    padding: 2%;
    background-color: var(--azul-claro);
}

.fundoTorto {
    top: 15%;
    left: 21.5%;
    position: absolute;
    width: 56%;
    height: 70%;
    background-color: var(--amarelo-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotate(3deg);
    border-radius: 30px;
}

h1 {
    font-size: 700%;
    font-weight: 800;
}

.introTxt {
    font-size: 150%;
    font-weight: 500;
}

.artigo {
    height: 100vh;
    background-color: var(--amarelo-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.titulo2 {
    font-size: 500%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo2 hr {
    width: 200%;
    border: 3px solid rgba(38, 55, 12, 1);
    margin-left: 20px;
}


.manchete {
    width: 80%;
    height: 50%;
    background-color: var(--azul-claro);
    border-radius: 30px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.cardArtigo {
    width: 25%;
    height: 100%;
    background-color: var(--azul-claro);
    border-radius: 30px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.cardsArtigo {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}